*{
    padding: 0px;
    margin: 0px;
    box-shadow: none;
}

main{
    max-width: 1440px;
    margin:0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}