*{
    padding: 0px;
    margin: 0px;
    box-shadow: none;
}

body{
    background-color: #E0F1E7 ;
}

main{
    max-width: 800px;
    max-height: auto;
    margin:200px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
}

.user-name input{
    border-radius: 6px;
    border-width: thin;
    height: 40px;
    width: 22em;
    max-width: 100%;
}

.user-name{
    display: flex;
    align-items: center;
    max-width: 800px;
    gap: 0px 15px;
}

.email input{
    border-radius: 6px;
    border-width: thin;
    height: 40px;
    width: 45em;
    max-width: 100%;
}

.enquiry{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-group-one{
    border-color: black;
    border-width: 10px;
}

.form-group-two{
    
}


/* footer{
    max-width: 800px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
} */